@charset "UTF-8";

html{
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: #151515 url('../images/image1 (1).jpg') no-repeat fixed left bottom;
    background-size: cover;
    color: rgb(231, 231, 231);
    text-align: center;
    font-size: 1.4rem;
    font-family: Meiryo, sans-serif;
}
.header {
    padding: 120px 50px 50px ;
    
}
.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 2px;
    font-size: 3.3rem;
}
.site-title-sub::before,
.site-title-sub::after {
    content: '';
    display: inline-block;
    width: 130px;
    height: 2px;
    margin: 0 30px;
    background-color: rgb(231, 231, 231);
    vertical-align: middle;

}
.site-title {
    margin: 60px 0 40px;
    font-size: 9.5rem;
}
.site-description {
    margin: 30px 0 40px;
    letter-spacing: 2px;
    font-size: 2.2rem;
}
.button{
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color:#611955;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.4rem;
}
.button:hover {
    opacity: 0.7;
}
.buttons .button {
    margin: 10px;
}
.this {
    padding: 80px 50px;
    background-color: rgb(207, 185, 212);
    color: #333;
}
.heading {
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-size: 5rem;
}
.heading::before,
.heading::after {
    content:'';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
}
.heading::before {
    bottom: 6px;
}
.this-text {
    text-align: center;
    margin:10px 0;
    line-height: 2.5;
}
.list {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    line-height: 2.5;
    font-size: 1.5rem;
}