@charset "UTF-8";

html{
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: #151515;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: Meiryo, sans-serif;
}