@charset "UTF-8";
@media (max-width: 768px){
    .site-title-sub::before,
    .site-title-sub::after {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    .site-title-sub {
        font-size: 1.7rem;
    }
    .site-title {
        margin-top: 35px;
        font-size: 5rem;
    }
    .header {
        padding-top: 60px;
    }
    .button:hover {
        opacity: 1;
    }
    .heading {
        font-size: 2.5rem;
    }
    .body {
        font-size: 1.3rem;
    }
    .this-text {
        line-height: 1.8;
    }
    .me-text {
        line-height: 1.8;
    }
    .gallery-text {
        line-height: 1.8;
    }
    
}

html{
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: #151515 url('../images/image1 (1).jpg') no-repeat fixed left bottom;
    background-size: cover;
    color: rgb(231, 231, 231);
    text-align: center;
    font-size: 1.4rem;
    font-family: Meiryo, sans-serif;
}
.header {
    padding: 120px 50px 50px ;
    
}
.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 2px;
    font-size: 3.3rem;
}
.site-title-sub::before,
.site-title-sub::after {
    content: '';
    display: inline-block;
    width: 130px;
    height: 2px;
    margin: 0 30px;
    background-color: rgb(231, 231, 231);
    vertical-align: middle;

}
.site-title {
    margin: 60px 0 40px;
    text-shadow: 2px 2px 0 #333;
    font-size: 9.5rem;
}
.site-description {
    margin: 30px 0 40px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0 #333;
    font-size: 2.2rem;
}
.button{
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color:#611955;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.4rem;
}
.button:hover {
    opacity: 0.7;
}
.buttons .button {
    margin: 10px;
}
.this {
    padding: 50px 50px;
    background-color: rgb(207, 185, 212);
    color: #333;
}
.heading {
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-size: 5rem;
}
.heading::before,
.heading::after {
    content:'';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
}
.heading::before {
    bottom: 6px;
}
.this-text {
    text-align: center;
    margin:10px 0;
    line-height: 2.5;
}
.list {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    line-height: 2.5;
    font-size: 1.5rem;
}
.about {
    padding: 50px 50px;
    background-color: #333;
}
.me-text {
    text-align: center;
    margin:10px 0 0 0 ;
    line-height: 2.5;
}
.me-text2 {
    text-align: center;
    margin: 0;
    line-height: 2.5;
}
.list2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    line-height: 2.5;
}
.gallery {
    padding: 50px 50px;
    background-color: rgb(207, 185, 212);
    color: #333;
}
.gallery-text {
    text-align: center;
    margin:10px 0 0 0 ;
    line-height: 2.5;
}
.workx-wrapper {
    display: table;
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}
.works-wrapper {
    display: table;
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}
.works-box {
    display: table-cell;
}
.work-wrapper {
    display: table;
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}
.video-wrapper {
    display: table;
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}
.work-box {
    display: table-cell;
}
.request {
    padding: 50px 50px;
    background-color: #333;
}
.graph-wrapper {
    display: table;
    width: 100%;
    margin: 50px;
    table-layout:fixed;
}
.ryo-box {
    display: table-cell;
}
.request-text {
    text-align: center;
    margin:10px 0 0 0 ;
    line-height: 2.5;
}
.request-wrapper {
    display: table;
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}
.rq-box {
    display:table-cell;
    text-align:center;
    margin:10px 0 0 0 ;
    line-height: 2.5;
}
.contact {
    padding: 50px 50px;
    background-color: rgb(207, 185, 212);
    color: #333;
}
.social-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
}
.social-box {
    display: table-cell;
}
.social-icon {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    color: #3a89ad;
    font-size: 8rem;
    line-height: 142px;
}
.social-title {
    margin: 0 20px 20px;
    font-size: 2rem;
}
.social-text {
    text-align: center;
    margin:10px 0 0 0 ;
    line-height: 2.5;
}
.footer {
    padding: 12px;
    font-size: 1.3rem;
}
